* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background-image: url('img/bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'Manrope', sans-serif;
  font-optical-sizing: auto;
  font-size: 2em;
  word-spacing: 0.1rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #ffffff;
}

main {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* modal default*/

.pop-up {
  position: absolute;
  top: -17%;
}

.btn-style {
  font-size: 1rem;
  font-weight: 200;
  color: #ffffff;

  background-color: #2e3536;

  padding: 1.1rem 1.5rem;
  margin: 2rem 2rem;
  border: none;
  border-radius: 10rem;

  cursor: pointer;

  transition: all 0.7s ease;
  transition: transform 0.3s ease;
}

.btn-style:hover {
  background-color: rgb(68, 68, 68);
  color: #fff;
  transform: translateY(-3px);
}

.btn-style:active {
  background-color: rgb(68, 68, 68);
  color: #fff;
  transform: translateY(-3px);
}
/* Ketika muncul */

.modal-default {
  position: fixed;
  top: 41%;
  left: 34%;

  z-index: 9999;
  font-size: 0.6em;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 999;
}

/* Modal steps */
.modal-steps {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #2e3536;

  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 99999;

  font-size: 0.6em;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #ffffff;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 3.7rem;
}

/* Poin penting modal,untuk menyembunyikan dan menampilkan modal */
.hidden {
  display: none;
}

/* Permainan */

.container {
  width: 100vw;
  height: 100vh;
  /* margin-inline: auto; */
  /* background: #000; */
}

.snake-head {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2.4rem;
  height: 2.4rem;
  background-color: rgb(255, 255, 255, 0.7);
  z-index: 99999;
}
.food-place {
  width: 100%;
  height: 100%;
}
.food-place .style-food {
  display: inline-block;
  position: absolute;
  width: 2.8rem;
  height: 2.8rem;
  object-fit: cover;
}

/* Analog */
#analog-base {
  width: 100px;
  height: 100px;
  background: rgba(126, 99, 78, 0.3); /* Soft Brown Transparan */
  border: 2px solid #7e634e;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  left: 50px;
  touch-action: none;
}
#analog-stick {
  width: 40px;
  height: 40px;
  background: #7e634e; /* Deep Brown */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
